.layout {
  display: flex;
  min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 230px;
  flex-shrink: 0;
}

.contenido {
  margin-left: 230px; /* espacio del sidebar */
  flex: 1;
  padding: 35px;
  min-height: 100vh;

  transition: margin-left 0.35s ease;
}

.contenido.full {
  margin-left: 0;
}

