.sidebar {
  width: 230px;
  height: 100vh;

  position: fixed;
  left: 0;
  top: 0;

  background: #1f2937;
  color: white;
  padding: 25px 20px;

  overflow: hidden;

  transition: width 0.35s ease, padding 0.35s ease, opacity 0.25s ease;
  z-index: 10;
}

.sidebar.hidden {
  width: 0;
  padding-left: 0;
  padding-right: 0;
  opacity: 0;
  pointer-events: none;
}

/* HEADER */
.sidebar-header {
  margin-bottom: 30px;
}

/* LOGO */
.logo {
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

/* NAV */
.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* ITEM */
.nav-item {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 10px 12px;
  border-radius: 8px;

  color: #d1d5db;
  text-decoration: none;

  transition: all 0.2s ease;
}

/* HOVER */
.nav-item:hover {
  background: #374151;
  color: white;
  transform: translateX(3px);
}

/* ACTIVE */
.nav-item.router-link-active {
  background: var(--color-primary);
  color: white;
}